@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
   
    font-weight: bold;
    background: linear-gradient(to right, #ffffff, #fff200);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback for Firefox */
  }

.text-stroke{
    text-shadow: 
    -2px -2px 0 orange,  
    2px -2px 0 orange,
    -2px 2px 0 orange,
    2px 2px 0 orange;
}

.black-stroke{
  text-shadow: 
  -1px -1px 0 black,  
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
}


.card{
  @apply max-w-[80%] mx-auto ;
}

.yellowblur{
filter:blur(400px);
}
